extends ../layouts/common 
block content

  h2 Shop
  ul
    each shop in shops
      li
        span Name:
        span= books.find(x => x.id === shop.bookId).title
        span &nbsp
        a(href='/books/update/' + shop.bookId) Update
        span &nbsp
        a(href='/books/delete/' + shop.bookId) Delete
        div
          span Description:
          span &nbsp
          span= books.find(x => x.id === shop.bookId).des

  form(action="/books/add", method="POST")
    label(for='title') Title
    input(name="title")
    div
    label(for='des') Description
    input(name="des")
    div
    button Add