extends ../layouts/common 
block content

  h2 Users

  ul
    each user in users
      li
        span=user.name
        span &nbsp
        a(href="/users/edit/" + user.id) Edit
        span &nbsp
        a(href="/users/delete/" + user.id) Delete

  form(action="/users/create", method= "POST")
    label(for='name') Name
    input(name="name")
    form(action="/users/create", method= "POST")
      label(for='avatar') Avatar
      input#avatar.form-control-file(name="avatar", type='file', enctype='multipart/form-data')
      button Create