extends ../layouts/common 
block content
  if errors
    each error in errors
      .alert.alert-danger= error
  h2 Users
    
  ul
    each user in users
      li
        span=user.name
        span &nbsp
        a(href="/users/edit/" + user.id) Edit
        span &nbsp
        a(href="/users/delete/" + user.id) Delete

  form(action="/users/create", method= "POST")
    input(name="name")
    button Create