extends ../layouts/common 
block content

  h2 Transaction

  table.table
      tr
        th Users
        th Books
        th Completed
      each tran in trans
        tr
          td= users.find(x => x.id === tran.userId).name
          td= books.find(x => x.id === tran.bookId).title
          td
            a(href="/transactions/" + tran.id + "/complete") Completed