extends ../layouts/common 
block content

  h2 Transaction

  table
      tr
        th Users &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        th Books  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        th Completed
        
        
      tr
            td= users.find(x => x.id === id).name
            span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            td= books.find(x => x.id === bookId).title
            span &nbsp&nbsp&nbsp
            td 
              a(href= '/transactions/' + id + '/complete') Completed